<form name="vm.userForm" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" data-ng-model="vm.user.name" type="text" placeholder="Имя" required ng-minlength="3" name="userName">
    </div>

    <div ng-messages="vm.userForm.userName.$error" ng-if="vm.userForm.userName.$dirty">
        <div ng-message="required" class="alert alert-danger" role="alert">Введите имя</div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" data-ng-model="vm.user.email" type="email" placeholder="Email" required  name="userEmail">
    </div>

    <div ng-messages="vm.userForm.userEmail.$error" ng-if="vm.userForm.userEmail.$dirty">
        <div ng-message="required" class="alert alert-danger" role="alert">Введите Email</div>
    </div>

    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control" data-ng-model="vm.user.phone" type="text" placeholder="Телефон" data-ng-pattern="/^[+](\d)+$/"   name="userPhone">
    </div>

    <div ng-messages="vm.userForm.userPhone.$error" ng-if="vm.userForm.userPhone.$dirty">
        <div ng-message="required" class="alert alert-danger" role="alert">Введите телефон</div>
    </div>

    <button type="submit" class="btn btn-default" data-ng-click="vm.saveUser(vm.user)" data-ng-disabled="vm.userForm.$invalid">Добавить
    </button>


</form>
